* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background-color:  #004980;
    
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
} 

.level {
    width: 1024px;
    height: 774px;
    
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
} 
.level-box {
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background-color: #C2F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;

}  
.level-text-box {
    width: 208px;
    height: 96px;
    margin-top: 52px;
}
.level-text {
    text-align: center;
    
    
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    color: #004980;


}
.level-num {
    margin-top: 48px;
    width: 342px;
    display: flex;
    justify-content: space-between;
}
.num-item {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: StratosSkyeng;
    font-size: 64px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: 0px;
    color: #0080C1;
}
.button-level {
    width: 246px;
    height: 50.003173828125px;
    margin-top: 67px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7AC100;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
   
}
.active {
    background-color: #004980;
    color: #FFFFFF;
}
.game {
    width: 1024px;
    height: 774px;

}
.game-box {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;

}
.data-game-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-game {
    width: 246px;
    height: 50.003173828125px;
    border-radius: 12px;
    background-color:#7AC100;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: white;


}
.cart-game {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    row-gap: 15.6px;
    row-gap: 15.6px;
}
.cart-item {
    width: 95px;
    height: 133px;
    background-image: url(img/рубашка.png);
}
.cart-img {
    margin-top: 32px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    row-gap: 15.6px;
    row-gap: 15.6px;

}